.quantity{
    border: 1px solid black;

    display: flex;
    width:100px;
    justify-content: space-evenly;
    height: 35px;
    border-radius: 20px;
    opacity: 0.8;
    

}
button{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    width: 25rem;
    height: 25rem;
    background-color: rgba(131, 133, 117, 0.158);
    border-radius: 20px;
    margin-top: 8px;

    
    width: 20px;
    height: 20px;
}

