@import "normalize";
@import "section";
@import "button";
@import "product";
@import "submit";
// @import "globals";

html,body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
.container {
    background-color: white;
    color: black;
    width: 100%;
    display: grid;
    grid-template-columns: 470px 350px;
    justify-content: center;
    align-content: center;
      
}

@media screen and (max-width:700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr;
        row-gap: 5rem;
    }


    // #mynumber,
    // #mynumber1 {
    //     padding-left: 15px !important;
    // }
    // .pay-box {
    //     margin: 0vw 0vw;
    // }
}
