.container {

    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10rem;
}
.box{
    margin-top: 50px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#button, #button2 {
    margin: 2rem;
cursor: pointer;
position: relative;
padding: 1rem 3rem;
border-radius: 3.75rem;
line-height: 1.5rem;
font-size: 1rem;
font-weight: 600;

border: 1px solid #012880;
background-image: 'gray';
box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
                    0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
                    0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
                    0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}
#userinput, #userinput2,#useroutput, #useroutput2  {
border: 1px solid grey;
width: 200px;
height: 40px;
border-radius: 20px;
text-align: center;
}